Repository slmnio/slmngg-sfc, pull requests merged in 2022-11, with the labels that each got.

#140 Add player cams link page
  server/src/actions/create-live-guest.js
  website/src/router/shared-routes.js
  website/src/utils/dashboard.js
  website/src/views/sub-views/Cams.vue
Labels: hacktoberfest-accepted

#146 Add action to start commercial
  server/src/actions/set-title.js
  server/src/actions/start-commercial.js
  website/src/components/website/dashboard/Commercials.vue
  website/src/utils/dashboard.js
  website/src/views/Dashboard.vue
Labels: hacktoberfest-accepted

#154 Update actions to reduce code duplication
  server/src/action-utils.js
  server/src/actions/manage-prediction.js
  server/src/actions/set-title.js
  server/src/actions/start-commercial.js
Labels: section: server

#157 Add match-wide preds and make them default
  server/src/actions/manage-prediction.js
Labels: section: broadcast, section: server
